*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #121212;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}


.container{
    
    max-width: 1538px;
    width: 100%;
    margin: 0 auto;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.header__wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items:center;
}
.header__navigation{
    display: flex;
    
}

.header__nav{
    padding: 8px 0 8px 0;
    font-family: inherit;
    font-weight:500;
    line-height: 16px;
    font-size: 12PX;
    color: #F8F8F8;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;

}
.header__searching {
  display: flex;
  width: 130px;
  height: 34px;
  border: 0;
  align-items:center;
}


.main_search{
  background-color: #67676762;
  width: 130px;
  height: 34px;
  color: #A7A7A7;
  border-radius: 12px;
  text-align: center;
  border: none;
  outline: none;
  float: left;
  position: relative;
}

.fa-magnifying-glass{
  padding-left: 12px;
  position: absolute;
  color: #A7A7A7;
  font-size: 20px;
}

.icon__nav{
    width: 24px;
    height: 24px;
    
}

.content{
  margin: 32px 0 0 0 ;
  
}

.left{
  max-width: 752px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}


.categories::after{
  content:'•';
  padding:0 6px 0 6px;
}

.games::after{
  content: '•';
  padding: 0 6px;
}

.left__heading{
  margin-top: 18px;
  color: #f8f8f8;
  font-family: Inter;
  font-size: px;
  font-style: normal;
  
  line-height: 38px;
  letter-spacing: -2.24px;
}
.main__katalog{
  display: flex;
  
  color: #5F5F5F;
  font-size: 12px; 
  line-height: 16px;
  letter-spacing: 0.5px;
}

.left__heading h2{
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  max-width: 413px;
  width: 100%;
}

.heading__image{
  width: 752px;
  height: 422px;
}

.description__heading{
  color: #f8f8f8;
  font-size: 24 px;
  line-height: 27px;
  margin: 0 0 24px 0;
  font-family: 'Inter', sans-serif;
}

.description__text{
  color: #a7a7a7;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
line-height: 140%;
letter-spacing: 0px;
}

.left__Semi_items{
  color: #f8f8f8;

}

.Semi_items__heading{
  font-size: 24px;
  font-family: 'Inter',sans-serif;
  font-weight: bold;
  margin-bottom: 24px;
}

.left__semi_row{
  display: flex;
}

.semi_items_card{
  margin-right: 16px;
  background-color: rgba(103, 103, 103, 0.25);
  width: fit-content;
  border-radius: 14px;
}

.button_info{
padding: 12px 12px 8px 12px;
}

.price{
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
}

.button_cost{
  display: flex;
  justify-content: space-between;
}

.heart{
  color: #73EF46;
}

.button_text{
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.fame32{
  display: flex;
}

.feedback{
  display: flex;
  margin-right: 8px;
}

.feedback_icon{
  color: #a7a7a7;
  font-size: 15px;
  margin-right: 4px;
}

.feedback_count{
  justify-content: center;
  align-items: center;
  color: #a7a7a7;
  font-size: 12px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  display:inline-flex;
}

.raiting{
  display: flex;
}

.raiting__icon{
  color: #a7a7a7;
  font-size: 14px;
  margin-right: 4px;
}

.raiting__count{
  color: #a7a7a7;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}